{% extends "base.html" %}
{% block tittle %}Champions League{% endblock %}
{% block titulo %}UEFA Champions League{% endblock %}
{% block header %}
<nav id="nav">
    <ul>
        <li><a href="inicio.html">Home</a></li>
        <li>
            <a href="#">Futbol Español</a>
            <ul>
                <li><a href="#">Selección Española</a></li>
                <li>
                    <a href="#">Liga Santander</a>
                    <ul>
                        <li><a href="#">Clasificación</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="current"><a href="/champions">Champions League</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
{% for letra in lista_grupos -%}
    <table>
        <caption>Grupo {{letra}}</caption>
        <tr>
            <th>Ranking</th>
            <th>Equipo</th>
            <th>Puntos</th>
            <th>Diferencia de Goles</th>
        </tr>
        <tr>
            <th>
                {% for puesto in lista_ranking -%}
                    <p>{{puesto}}</p>
                {% endfor -%}
            </th>
            <th>
                {% for a in range(1,4) -%}
                    {% for equipo in lista_equipo[a] -%}
                        <p>{{equipo}}</p>
                    {% endfor -%}
                {% endfor -%}
            </th>
        </tr>
    </table>
{% endfor -%}
{% endblock %}