 
{% extends "base.html" %}
{% block tittle %}Página principal{% endblock %}
{% block titulo %}Locos por el futbol{% endblock %}
{% block header %}
<nav id="nav">
    <ul>
        <li class="current"><a href="inicio.html">Home</a></li>
        <li>
            <a href="#">Futbol Español</a>
            <ul>
                <li><a href="#">Selección Española</a></li>
                <li>
                    <a href="#">Liga Santander</a>
                    <ul>
                        <li><a href="#">Clasificación</a></li>
                        <li><a href="#">Goleadores</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/champions">Champions League</a></li>
        <li><a href="right-sidebar.html">Europa League</a></li>
        <li><a href="two-sidebar.html">Premier League</a></li>
        <li><a href="no-sidebar.html">Euro20200</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-paper-plane"></i>
                    <h3>Navega</h3>
                    <p>Consulta los datos de las diferentes competiciones que tenemos disponibles en nuestra página.</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-pencil-alt"></i>
                    <h3>Escribenós</h3>
                    <p>Al final de esta página nos puedes enviar sugerencias de que competiciones quieres que añadamos, tendremos muy en cuenta tus sugerencias..</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-wrench"></i>
                    <h3>Seguiremos mejorando</h3>
                    <p>Esta página es lanzada en Mayo de 2021, por tanto, que mucho que mejorar.</p>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="..static/images/pic01.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>The First Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="../static/images/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>The Second Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}
{% block contacto %}
<div id="footer">
    <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower">
                <h3>Contactanós</h3>
                <form>
                    <div class="row gtr-50">
                        <div class="col-6 col-12-mobilep">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="col-6 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" class="button alt" value="Send Message" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}