{% extends "base.html" %}
{% block tittle %}Premierleague{% endblock %}
{% block titulo %}Premier League{% endblock %}
{% block header %}
<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Futbol Español</a>
            <ul>
                <li><a href="#">Selección Española</a></li>
                <li>
                    <a href="#">Liga Santander</a>
                    <ul>
                        <li> <a href="/clasificacion">Clasificación</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/champions">Champions League</a></li>
        <li class="current"><a href="/premier">Premier League</a></li>
    </ul>
</nav>
{% endblock %}